      body {
        background-color: white;
      }

      #first, #sec, #third,#fourth,#fifth, #sixty  {
      	height: 100%;
      	background-color: #4d4d4d;
;
	
	margin: 100px 0px 100px 0px;
      }

      #first {
	margin-top:0px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background: cover;
      }

      #first {
	z-index: 0;
      }


      #sec {
	z-index: 10;
        background-color:#a6a6a6;
      }

      #third {
        background-color:#737373;
      }

      #fourth {
	height:300%;
        background-color:#a6a6a6;
      }

      #fifth {
        background-color:#737373;
      }

      #sixty {
        background-color:#4d4d4d;
	margin-bottom: 0px;
      }

      #img {
        position: relative;
        left: 20%;
	top:0%;
        width:80%;
	height:100%;
	border-radius: 0% 0% 0% 50%;
	z-index:0;
	border-style:solid;
	border-width:10px;
	border-color:white;
      }

      #title {
         position: absolute;
         left:9%;
         top:85%;
         width: 550px;
         height: 200px;
      }

      #titulo, #subtitulo {
	 font-size: 3rem;
	 font-family: Monospace;
         color: white;
      }

      #subtitulo {
	 font-size: 2rem;
      }

      #content {
	position: relative;
	top: 5%;
	left: 10%;
	width: 750px;
	height: 70%;
      }

      #skills, titulo {
	 position: absolute;
	 top: 20%;
	 color: white;
	 font-size: 4rem;
	 font-family: Monospace;
	 font-weight: bold;
      }

      #lista {
	position: absolute;
	top: 40%;
	left: 15%;
	width: 85%;
	height:50%;
      }

      #html, #css3, #js, #php{
	position: relative;
	height:25%;
      }


      #htmlp, #css3p, #jsp, #phpp {
	position: relative;
	top: 30%;
	font-size: 3rem;
	color:white;
	font-family: Monospace;
	font-weight: bold;
      }

      #htmlbar {	
	  position:relative;
          left:220px;
          top:-30%;
	  height:80px;
	  width:400px;
      }

      conteudo, content {
	position:relative;
	top: 10%;
	left:10%;
	
	width: 750px;
	height:70%;
      }

      titulo {
	 top: 0%;
      }

      .card {
	  width: 50rem;
      }

      texto{
	 position: absolute;
	 top: 20%;
	 left: 15%;
	 width: 85%;
	 height:80%;
	 color:white;
	 font-size:2.2rem;
	 text-align:justify;
	 font-family:Monospace;
      }

      content {
	 top: 5%;
	 width:800px;
	 height:90%;
      }

      .card {
	 position:relative;
	 top: 200px;
	 height:500px;
      }

      #botao {
	 position: relative;
	 top: 2700px;
	 left: 35%;
	 width:15rem;
	 font-size:2.5rem;
	 font-weight:bold;
      } 

      text {
	 position: absolute;
	 top: 15%;
	 left: 15%;
	 height:70%;
	 width: 80%;
	 font-size:3rem;
	 font-family:Monospace;
	 color:white;
      }

      apresentacao {
	 position: absolute;
	 top: 10%;
	 left: 0%;

	 font-size:2.8rem;
	 text-align:justify;
	 font-family:Monospace;
	 color:white;
      }

      #linkedin_img, #outlook_img, email, linkedin {
	 position: absolute;
	 top:40%;
	 left:5%;
	 width:150px;
	 border-radius:15%;
      }

      #outlook_img, email {
	top: 60%;
      }
	
      email, linkedin {
	top:63%;
	left: 28%;
	font-size:3rem;
	font-family:Monospace;
	color:white;
	font-weight:bold;
      }

      linkedin {
	 top: 43%;
	 left: 28%;
      }

      
      @media only screen and (min-device-width: 320px){
	 	text {
			top: 30%;
	    }

	    #fourth {
	    	height: 315%;
	    }
      }


      @media only screen and (min-device-width: 330px){
      	#fourth{
      		height: 323%;
      	}
      }

      @media only screen and (min-device-width: 340px){
	 #fourth {
		height: 333%;
	 }
      }

      @media only screen and (min-device-width: 350px){
	 #fourth {
		height: 350%;
	 }
      }

      @media only screen and (min-device-width: 370px){
	 #fourth {
		height: 370%;
	 }
      }

      @media only screen and (min-device-width: 390px){
	 #fourth {
		height: 390%;	 
      }

      @media only screen and (min-device-width: 400px){
	 #fourth {
		height: 400%;
	 }

	 text {
		top: 30%;
	 }
      }

      @media only screen and (min-device-width: 410px){
	 #fourth {
		height: 410%;
	 }
      }

      @media only screen and (min-device-width: 420px){
	 #fourth {
		height: 420%;
	 }
      }

      @media only screen and (min-device-width: 440px){
	 #fourth {
		height: 440%;
	 }
      }

      /*Precisa corrigir*/
      @media only screen and (min-device-width: 900px) {
    	#title {
		top: 80%;
	    }
      }


      /*Precisa corrigir*/
      @media only screen and (min-device-width: 768px) {
    	#fourth {
		height:400%;
	    }
      }


      /*Precisa corrigir*/
      @media only screen and (min-device-width: 1024px) {
    	    #fourth {
		height:380%;
	    }
      }

      @media only screen and (min-device-width: 1200px) {
	    #img {
		left: 40%;
		width:60%;
	    }

    	    #content {
		top: 5%;
	    }

	    #lista {
		top: 45%;
	    }

	    #third {
		height: 200%;
	    }

	    #fourth {
		height: 630%;
	    }

	    #htmlbar {
		top:-85%;
		height:40px;
		left:170px;
	    }

	    .card {
	  	width: 40rem;
		height: 26rem;
		left: 35%;
      	    }
	
	    #botao {
		left: 50%;
	    }

	    #fifth {
		height: 130%;
	    }

	    #sixty {
		height: 200%;
	    }

	    #linkedin_img {
		top: 53%;
		width:100px;
	    }

	    #outlook_img {
		top: 75%;
		width:100px;
	    }
	
	    linkedin {
		top: 55%;
		left: 35%;		
		font-size:2rem;
	    }

	    email {
		top: 77%;
		left: 35%;
		font-size:2rem;
	    }

	    apresentacao {
		top: 15%;
	    }

	    text {
		top: 25%;
	    }
      }


      @media only screen and (min-device-width: 1300px) {
      	#fourth{
      		height: 800%;
      	}

      }
